.barGUI {
    position: absolute;
    width: 200px;
    height: 35px;
    border-radius: 3px;
    background: #000;

    .barGUI__indicator {
        height: 35px;
        width: 100%;
        background: blue;
        border-radius: 3px;
        position: absolute;
        left: 0;
        top: 0;
    }
}