@import "gui/bar";

html, body {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        overflow: hidden;
}

// #wrapper, #screen {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     width: 800px;
//     height: 600px;
//     margin: -300px -400px;
// }

#wrapper, #screen {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}